.footer {
  height: 200px;
  width: 100%;
  background-image: url(../../images/contacts/footer-image.png);
  background-size: cover;
  background-position: 80%;
  bottom: 0;
  z-index: -1;

  @include on-tablet {
    height: 480px;
  }

  @include on-desktop {
    height: 555px;
  }
}
